/*---------------------------------------
Button Styles
---------------------------------------*/

.btn {
    font-size: 1.4rem;
    text-transform: capitalize;
    padding: 10px 30px;
    font-weight: 400;
    margin: 0;
    &:hover,
    &:focus,
    &:visited {
        outline: none;
        text-decoration: none;
    }
    &.active {
        &:hover,
        &:focus,
        &:visited {
            outline: none;
            text-decoration: none;
        }
    }
    &.btn-lg {
        font-size: 1.8rem;
        padding: 14px 39px;
        &.with-icon {
            padding: 4px 39px;
        }
        .fa {
            font-size: 4.5rem !important;
            vertical-align: middle;
            margin-right: 4px;
            top: 0 !important;
        }
    }
    &.btn-simple {
        &:hover {
            i {
                transition: all 0.3s ease;
                text-shadow: -2px 2px 7px rgba(0, 0, 0, 0.4);
            }
        }
    }
    &.btn-sm {
        font-size: 1.4rem;
    }
    &.btn-orange {
        background-color: #e74c3c;
        box-shadow: 0 2px 2px 0 rgba(#e74c3c, 0.14), 0 3px 1px -2px rgba(#e74c3c, 0.2), 0 1px 5px 0 rgba(#e74c3c, 0.12);
        .navbar .navbar-nav>li>& {
            box-shadow: 0 2px 2px 0 rgba(#e74c3c, 0.14), 0 3px 1px -2px rgba(#e74c3c, 0.2), 0 1px 5px 0 rgba(#e74c3c, 0.12);
        }
        &:focus,
        &:active,
        &:hover {
            box-shadow: 0 14px 26px -12px rgba(#e74c3c, 0.42), 0 4px 23px 0px rgba(#e74c3c, 0.12), 0 8px 10px -5px rgba(#e74c3c, 0.2);
            .navbar .navbar-nav>li>& {
                box-shadow: 0 14px 26px -12px rgba(#e74c3c, 0.42), 0 4px 23px 0px rgba(#e74c3c, 0.12), 0 8px 10px -5px rgba(#e74c3c, 0.2);
            }
        }
    }
    &.btn-blue {
        background-color: $primaryColor;
        box-shadow: 0 2px 2px 0 rgba(#e74c3c, 0.14), 0 3px 1px -2px rgba($primaryColor, 0.2), 0 1px 5px 0 rgba($primaryColor, 0.12);
        .navbar .navbar-nav>li>& {
            box-shadow: 0 2px 2px 0 rgba($primaryColor, 0.14), 0 3px 1px -2px rgba($primaryColor, 0.2), 0 1px 5px 0 rgba($primaryColor, 0.12);
        }
        &:focus,
        &:active,
        &:hover {
            box-shadow: 0 14px 26px -12px rgba($primaryColor, 0.42), 0 4px 23px 0px rgba($primaryColor, 0.12), 0 8px 10px -5px rgba($primaryColor, 0.2);
            .navbar .navbar-nav>li>& {
                box-shadow: 0 14px 26px -12px rgba($primaryColor, 0.42), 0 4px 23px 0px rgba($primaryColor, 0.12), 0 8px 10px -5px rgba($primaryColor, 0.2);
            }
        }
    }
    &.btn-yellow {
        background-color: #fdb816;
        box-shadow: 0 2px 2px 0 rgba(#fdb816, 0.14), 0 3px 1px -2px rgba(#fdb816, 0.2), 0 1px 5px 0 rgba(#fdb816, 0.12);
        .navbar .navbar-nav>li>& {
            box-shadow: 0 2px 2px 0 rgba(#fdb816, 0.14), 0 3px 1px -2px rgba(#fdb816, 0.2), 0 1px 5px 0 rgba(#fdb816, 0.12);
        }
        &:focus,
        &:active,
        &:hover {
            box-shadow: 0 14px 26px -12px rgba(#fdb816, 0.42), 0 4px 23px 0px rgba(#fdb816, 0.12), 0 8px 10px -5px rgba(#fdb816, 0.2);
            .navbar .navbar-nav>li>& {
                box-shadow: 0 14px 26px -12px rgba(#fdb816, 0.42), 0 4px 23px 0px rgba(#fdb816, 0.12), 0 8px 10px -5px rgba(#fdb816, 0.2);
            }
        }
    }
    &.btn-simple,
    .navbar .navbar-nav>li>&.btn-simple {
        .text-white &,
        .theme-bg & {
            color: #ffffff;
        }
    }
    &.btn-just-icon {
        .fa {
            margin-top: 3px;
        }
    }
}
