/*---------------------------------------
Fact Styles
---------------------------------------*/
.fact-area{
    padding: 71px 0;
}
.fact-items{
    float: left;
    width: 100%;
    margin-bottom: -30px;
}
.fact{
    float: left;
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
}
.fact-icon{
    font-size: 3.5rem;
}
.fact-number{
    font-size: 3.4rem;
    margin-top: 2px;
    margin-bottom: 0;
}
.fact-name{
    font-size: 1.8rem;
    margin-top: 2px;
    margin-bottom: 0;
}