// All variable
//Color variable
$primaryColor: #4285f4;
$primaryRed: #e74c3c;
$baseFontColor: #111111;
//Typography variable
$baseFontFamily: 'Poppins',
sans-serif;
$baseFontSize: 1.4rem;
$baseLineHeight: 1.78;
