/*---------------------------------------
RTL Styles
---------------------------------------*/

.search-toggle-mobile {
    float: left;
}

.owl-carousel {
    direction: ltr;
}

.banner-content {
    direction: rtl;
}

.banner-img {
    right: 0;
    left: auto;
}

.service-icon {
    float: right;
    margin-right: 0;
    margin-left: 30px;
}

.service-content {
    float: right;
}

.process-img:after {
    transform: scaleX(-1);
    right: auto;
    left: -50px;
}

.pricing-table {
    direction: rtl;
    .pack-features {
        text-align: right;
    }
}

.testimonial-item {
    blockquote:before {
        content: "\f10e";
        right: 10px;
        left: auto;
    }
    .commenter .mock {
        float: right;
        margin-right: 0;
        margin-left: 20px;
    }
    .commenter .body {
        float: right;
    }
}

.contact-blocks .contact-item {
    .contact-img {
        float: right;
        margin-right: 0;
        margin-left: 20px;
    }
    .contact-info {
        float: right;
    }
}

.footer-upper {
    .contact-icon {
        float: right;
        margin-right: 0;
        margin-left: 5px;
    }
    .contact-info {
        float: right;
    }
    .widget-inner ul li a:before {
        float: right;
        margin-right: 0;
        margin-left: 4px;
        content: "\f104";
    }
}

.social {
    float: right;
    a {
        float: right;
        +a {
            margin-left: 0;
            margin-right: 10px;
        }
    }
}

.copyright-text {
    text-align: left;
}

.footer-nav li+li a {
    margin-right: 38px;
    margin-left: 0;
}

.btn.btn-lg .fa {
    margin-right: -3px;
    margin-left: 9px;
}

@media (max-width: 991px) {
    .rtl {
        .dropdown:after {
            left: 0;
            right: auto;
        }
    }
}

@media (min-width:768px) and (max-width: 991px) {
    .rtl {
        .navbar .navbar-collapse {
            right: auto;
            left: 15px;
        }
    }
}
